* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: rgb(243, 239, 233);
    padding: 0 20px;
    position: relative;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-item{
    display: flex;
    flex-direction: row;
}

.nav-item .nav-link {
    color: Black;
    font-size: 20px;
    margin-right: 15px;
    font-weight: bold;
}

.nav-item .nav-link:hover {
    background-color: rgb(243, 239, 233);
}
